@model TimeSheetViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">@ViewBag.beginDate - @ViewBag.endDate</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Clock in</th>
                    <th scope="col">Clock out</th>
                    <th scope="col">Hours worked</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Gross</th>
                    <th scope="col">Approved</th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < Model.Items.Length; i++)
                {
                    <tr>
                        <td>@ViewBag.date[i]</td>
                        <td>@ViewBag.enter[i]</td>
                        <td>@ViewBag.exit[i]</td>
                        <td>@ViewBag.hoursworked[i]</td>
                        @if(@Model.Employee != null)
                        {
                            <td>@Model.Employee.rate</td>
                        }
                        else
                        {
                            <td>Still broke yo</td>
                        }
                        <td>@ViewBag.Gross[i]</td>
                        @if(@Model.Items[i].Approved == 1)
                        {
                            <td><i class="fas fa-check"></i></td>
                        }else if(@Model.Items[i].Approved == 0)
                        {
                            <td><i class="fas fa-times"></i></td>
                        }else
                        {
                            <td><i class="fas fa-ban"></i></td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>